body {
    margin: 0
}
#background-canvas {
    display: block;
    border: 1px solid black;
    
}

#clickHere{
    margin-left: 3vw;
}

.container {
    z-index: 1;
    position: absolute;
    top: 15vh;
    left: 16.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#top{
    position: relative;
}

#main-canvas {
    display: block;
    /* border: 1px solid red; */
    position: absolute;
    top: 20px;
    left: 115px;
}

#start {
    padding: 15px;
    margin-left: 45vw;
    border-radius: 12px;
    background-color: rgb(62, 62, 179);
    color: white;
    width: 120px;
    font-family: calibri;
    font-size: 20px;
}

#quoteDisplay {
    color: yellow ;
    font-size: 5.5vh;
    max-width: 70vw;
    letter-spacing: 3px;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

#quoteInput {
    position: absolute;
    top: 1vh;
    left: 1vw;
    max-width: 65vw;
    min-width: 65vw;
    min-height: 30vh;
    font-family: calibri;
    letter-spacing: 1.5px;
    font-size: 5.5vh;
    background-color: transparent;
    color: transparent;
    border-color: transparent;
    outline: none;
}

#title {
    font-size: 150px;
    position: absolute;
    top: 25vh;
    left: 19vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title p {
    color: yellow;
    margin: 0;
    font-family: 'Star Jedi';
}


.correct {
    color: green;
  }
  
  .incorrect {
    color: red;
    text-decoration: underline;
  }

  /* .placeholder
{
    position: relative;
}

.placeholder::after
{
    position: absolute;
    left: 5px;
    top: 3px;
    content: attr(data-placeholder);
    pointer-events: none;
    opacity: 0.6;
} */

canvas {
    font-family: 'Star Jedi', arial;
    margin-left: 4px;
}